@charset "UTF-8";

@font-face {
    font-family: 'GOW';
    src: url('Fontes/GODOFWAR.TTF') format('truetype'), url('Fontes/GODOFWAR.TTF') format('opentype');
    /*No campo "font-family" você define o nome da fonte. No campo "src" você define "urls" e "format" (como acima).*/
}

/*Também se pode usar o Google Fonts" para buscar e aplicar mais fontes.*/
/*Caso você faça o download do arquivo em "link", você deve usá-lo no mesmo local onde vai o título do arquivo HTML ou arquivo CSS.*/

p {
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    /*A propriedade aciam diz respeito ao tipo de fonte que será exibida. A ordem de aplicação sempre será da esquerda para a direita.*/
    /*Caso uma fonte não seja encontrada, o navegador partirá para a próxima até achar uma fonte aplicável.*/
    /*Caso nenhuma das fontes marcadas seja encontrada, será aplicada a fonte padrão encontrada pelo navegador (seja ela qual for).*/
    /*Se separa os diferentes tipos de fonte com vírgula e, em caso de fontes com nomes compostos, usamos aspas.*/
    /*Nesse caso, palavras compostas são aquelas separadas por espaços. Caso duas palavras sejam ligadas por um hífen, não se usa aspas.*/

    font-style: oblique;
    /*A propriedade acima diz respeito ao estilo da fonte (por exemplo, itálico e oblíquo).*/
    /*O estilo "oblíquo" é ainda mais acentuado do que o itálico.*/

    font-size: 20px;
    /*A propriedade acima diz respeito ao tamanho da fonte. 16px ou 1em são os resultados padrão.*/

    font-weight: bolder;
    /*A propriedade acima diz respeito ao negrito. O negrito pode ser configurado de "lighter" a "bolder" ou com valores.*/

    font-variant: small-caps;
    /*"small-caps" faz com que todas as letras fiquem maiúsculas porém as letras iniciais de cada palavra (após ponto final, exclamação, interrogação ou início de parágrafo) ficarão ainda mais destacadas.*/
    /*Caso o valor de "font-variant" seja "normal", a fonte volta ao normal.*/

    /*A propriedade a seguir nos permite adicionar uma fonte à nossa escolha: "@font-face {}".*/
}

p#face {
    font-family: 'GOW';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}
