@charset "UTF-8";

/*A primeira coisa que precisamos criar para se gerar animações é o conjunto de "quadro-chave" ("key-frames").*/
/*"Key-frame", basicamente, é um quadro-chave que define as propriedades de um momento de uma animação.*/

@keyframes animação_1 {
    /*Aqui dentro serão inseridos os quadros da animação.*/
    /*As propriedades de "from" e "to" são separadas por ponto e vírgula (;).*/

    from {left: 0px; top: 0px; background-color: burlywood; color: slateblue; text-shadow: 1px 1px 1px black; font-weight: bolder;}

    to {left: 250px; top: 250px; background-color: skyblue; color: coral; text-shadow: 1px 1px 1px black; font-weight: bolder;}
}

@keyframes animação_2 {
    from {
        background-color: cornflowerblue;
        color: darkorange;
        font-size: 18px;
        font-weight: bolder;
        text-shadow: 1px 1px 1px black;
    }

    to {
        background-color: darkred;
        color: peru;
        text-shadow: 1px 1px 1px black;
        font-size: 18px;
        font-weight: bolder;
    }
}

p {
    position: relative; /*Além de "relative", outro valor que nos permite trabalhar com "left" e "top" é o "absolute".*/
    left: 250px;
    top: 250px;
    width: 400px;
    height: 280px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    font-size: 18px;

    /*As propriedades abaixo funcionam as propriedades de "transition" - porém aplicadas à "animation".*/

    animation-name: animação_1, animação_2
    /*Se pode criar quantas animações se desejar. Para colocá-las aqui, basta separá-las por vírgula.*/;
    animation-duration: 4s, 4s;
    animation-timing-function: ease;
    animation-delay: 1s, 4s /*O segundo valor diz respeito a uma segunda animação (caso ela exista).*/;
}
