@charset "UTF-8";

#dv1 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 5px;
    font-weight: bolder;
    background-color: skyblue;
    
    /*As tranformações 3D contam com 3 eixos que podem ser alterados.*/

    transform: rotateY(45deg);

    /*Com "translate" não usamos graus ("degs"), mas sim "pxs".*/
    transform: translateZ(200px);

    /*"rotate3d" nos permite indicar uma rotação para os três ângulos (X, Y, Z).*/
    /*Os valores de "rotate3d" devem ser separados por vírgulas.*/
    /*Em muitos navegadores, o "rotate3d" não vai funcionar, portanto, recomenda-se configurar cada uma das propriedades isoladamente.*/
    /*"rotateX", "rotateY", "rotateZ".*/
    transform: rotate3d(15deg, 15deg, 15deg);

    transform: rotateX(15deg) rotateY(15deg) rotateZ(15deg);

    transform: translate(200px, 200px);

    transform-origin: 200% 200%;

    position: absolute;
    top: 70px;
    left: 170px;

    /*"visible" é o valor padrão da propriedade "backface-visibility"; "hidden" oculta a div inteira (quando essa for rotacionada).*/
    backface-visibility: visible;

    /*Ao usarmos a propriedade "perspective", devemos aplicá-la não no elemento, mas sim no seu container. Ver o exemplo abaixo:*/
}

body {
    perspective: 800px;
    background-color: burlywood;
}
