@charset "UTF-8";

img {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    margin-left: 5px;

    /*A propriedade "float" nos permite indicar se um elemento flutuante ou não.*/
    /*Além disso, "float" também nos permite indicar como o elemento vai flutuar.*/

    /*Caso "zoom" da página diminua demais, as imagens podem entrar para dentro da área onde está o "float".*/
    /*Para se evitar isso, basta usar a propriedade "clear". Recomenda-se usá-la associada a uma classe.*/
    /*Pois, dessa maneira, ela (propriedade "clear") poderá ser usada em diferentes pontos da página.*/
}

img#imagem_1 {
    float: left;
    margin-right: 5px;
}

img#imagem_2 {
    float: right;
}
