@charset "UTF-8";

body {
    margin: 0px;
}

div {
    border: 1px solid black;
}

#div1 {
    margin: 50px 200px 300px 50px;
    /*"margin" é uma metapropriedade.*/
}

#div2 {
    margin: 0px;
}

#div3 {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 300px;
    margin-right: 200px;
    /*Cada uma das margens pode ser configurada individualmente.*/
}

#div4 {
    width: 300px;
    height: 300px;
    margin: auto;
    /*O comando acima centraliza o conteúdo.*/
    /*"margin: auto;" só funciona caso a largura ("width") esteja definida.*/
    
    padding: 5px;
}

#div5 {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

div > p {
    border: 1px solid #f00;
    text-align: center;
    /*O parâmetro e valor acima centralizam os textos das "tags p".*/
    /*Outros valores para "text-align": "right" e "left".*/
}
